body {
    text-align: center;
    background-color: #EEEE;
    padding: 0px auto;
    font-family: 'Courier New', Courier, monospace;
}

#title {
    color: #EEEE;
    text-align: center;
    font-size: 36px;
    background-color: #548CA8;
    width: auto;
    height: auto;
    padding: 8px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

h2 {
    color: black;
    background-color: wheat;
    box-sizing: border-box;
    border: 6px solid #548CA8;
    height: auto;
    width: 400px;
    padding: 5px;
    margin: 16px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}

a {
    text-decoration: none;
}